<?xml version="1.0"?>
<config>
    <global>
        <models>
            <inviqa_symfonyContainer>
                <class>Inviqa_SymfonyContainer_Model</class>
            </inviqa_symfonyContainer>
        </models>
        <helpers>
            <inviqa_symfonyContainer>
                <class>Inviqa_SymfonyContainer_Helper</class>
            </inviqa_symfonyContainer>
        </helpers>
        <events>
            <adminhtml_cache_refresh_type>
                <observers>
                    <inviqa_symfonyContainer>
                        <class>Inviqa_SymfonyContainer_Model_Observer</class>
                        <type>singleton</type>
                        <method>onCacheRefresh</method>
                    </inviqa_symfonyContainer>
                </observers>
            </adminhtml_cache_refresh_type>
        </events>
        <cache>
            <types>
                <inviqa_symfonyContainer module="inviqa_symfonyContainer" translate="label description">
                    <label>DI Container</label>
                    <description>Symfony Dependency Injection Container</description>
                    <tags>DI_CONTAINER</tags>
                </inviqa_symfonyContainer>
            </types>
        </cache>
    </global>

</config>